.product {
    @apply relative z-30 hover:z-40;

    .wrapper {
        @apply py-3 md:py-5 lg:py-10 rounded-lg bg-white lg:hover:bg-add_1 hover:shadow transition-colors hover:absolute hover:top-0  hover:left-0 z-50 group-hover:shadow;
    }

    .flags {
        @apply absolute top-2 right-2 z-50 flex justify-end gap-2;
    }
    .image {
        @apply flex m-5 bg-white rounded-lg max-h-[240px] max-md:max-h-[181px];

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    .content {
        @apply px-5;
    }
    .sizes {
        @apply hidden px-5 mt-5;
    }

    .sizeTitle {
        @apply mb-3 font-semibold text-sm text-center;
    }

    .sizeList {
        @apply grid grid-cols-3 xl:grid-cols-4 gap-2;
    }

    .sizeItem {
        @apply p-1 bg-white rounded transition-colors cursor-pointer hover:bg-main hover:text-white ;
    }
}
