@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline: none;
}

html,
body,
* {
  scroll-margin-top: 100px;
  scroll-behavior: smooth;
}

body {
  color: #000;

  &.locked {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

section {
  @apply mb-6 md:mb-10 lg:mb-20 px-2 sm:px-3 md:px-6 lg:px-12 xl:px-14 2xl:px-16;
}

a,
path {
  @apply transition-colors;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-medium;
}

h1 {
  @apply text-base xs:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h5 {
  @apply text-xs;
}

.btn-shine {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  height: 120%;
  width: 45px;
  transform: skewX(-45deg); // Наклон
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
}

.swiper-scrollbar {
  margin: 0 10px;
  background: transparent !important;
  height: 2px !important;

  &-drag {
    background-color: black !important;
    height: 2px !important;
  }
}

/* width */
*::-webkit-scrollbar {
  @apply lg:size-1;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  @apply bg-add_1_hv transition-colors rounded-md;
  border-radius: 4px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  @apply bg-add_4;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

label a:hover {
  @apply text-main;
}

.privacy label {
  @apply text-[8px] sm:text-[10px] lg:text-xs;
}

.modal {
  will-change: transform;
  contain: layout paint;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
